:host {
    background-color: #bfe2e4;
    border-radius: 20px;
    margin: 5px;
}
p {
    width: fit-content;
    border-width: 5px;
    border-radius: 10px;
    margin: 2px;
    padding: 2px;
}

.caption {
    text-decoration: underline;
}

.redBorder {
    border: 3px solid;
    border-color: red;

}

.greenBorder {
    border: 3px solid;
    border-color: green;
}

.qA {
    margin: 10px;
}

li {
    list-style: none;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 20px;
    margin: 5px;
    padding: 2px;
    padding-left: 10px;
    background-color: rgb(145, 221, 226);
}


h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    text-decoration: underline;
    color: #478998a6;
}

.waiting {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.loading {   
  padding: 3px;
  color: #478998a6;
}



.untulNow {
  margin-top: 5px;
  color: #478998a6;
}

.wrongTrue{
  display: flex;
}

/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
 .dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    animation: dotPulse 1.5s infinite linear;
    animation-delay: .25s;
  }
  
  .dot-pulse::before, .dot-pulse::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 5px;
  }
  
  .dot-pulse::before {
    animation: dotPulseBefore 1.5s infinite linear;
    animation-delay: 0s;
  }
  
  .dot-pulse::after {
    animation: dotPulseAfter 1.5s infinite linear;
    animation-delay: .5s;
  }
  
  @keyframes dotPulseBefore {
    0% {
      box-shadow: 9984px 0 0 -5px #9880ff;
    }
    30% {
      box-shadow: 9984px 0 0 2px #9880ff;
    }
    60%,
    100% {
      box-shadow: 9984px 0 0 -5px #9880ff;
    }
  }
  
  @keyframes dotPulse {
    0% {
      box-shadow: 9999px 0 0 -5px #9880ff;
    }
    30% {
      box-shadow: 9999px 0 0 2px #9880ff;
    }
    60%,
    100% {
      box-shadow: 9999px 0 0 -5px #9880ff;
    }
  }
  
  @keyframes dotPulseAfter {
    0% {
      box-shadow: 10014px 0 0 -5px #9880ff;
    }
    30% {
      box-shadow: 10014px 0 0 2px #9880ff;
    }
    60%,
    100% {
      box-shadow: 10014px 0 0 -5px #9880ff;
    }
  }