
  .fas{
    font-size: 30px;
    color: #58a3d4;
  }
  
  span {
    font-size: 25px;
  }
  
  p {
    font-size: 20px;
  }


.spin:hover>.fas {
    animation: rotation2 .5s 1 both;
  }
  
  @keyframes rotation2 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .fas{
    animation: rotation .5s 1 linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }