:host {
    display: grid;

    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 400px;

    background-color: honeydew;
}

.title-area {
    grid-column: 1 / -1;
}

.main-area {
    grid-column: 1 / 2;
}
