
input {
    margin: 30px;
    font-size: 40px;
}

button {
    height: 50px;
    margin: 10px;
    padding: 3px;
    cursor: pointer;
    color: rgb(4 4 4 / 74%);
    border: 2px solid #d6c9c0;
    background-color: cornflowerblue;
    border-radius: 10px;
}

.searchByGaner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

select {
    margin-top: 10px;
    width: fit-content;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

